.row
  .panel.panel-primary
    .panel-heading
      %h3= @fantasy_team.name
    .panel-body
      %table.table
        %thead
          %tr.row
            %th QB
            %th Name
            /%th NFL Team
            %th Score
        %tbody
          - @fantasy_team.players.each do |player|
            %tr.row
              %td= player.position
              %td= link_to(player.name, player)
              /%td= player.nfl_teams.first.name
              %td