.row
  .panel.panel-primary
    .panel-heading
      %h3 Players
    .panel-body
      %table.table
        %thead
          %tr.row
            %th Name
            %th Score
        %tbody
          - @players.each do |player|
            %tr.row
              %td= player_link(player)
              %td= player.score
