.row
  .panel.panel-primary
    .panel-heading
      %h3 NFL Teams
    .panel-body
      %table.table
        %thead
          %tr.row
            %th Name
            %th Players
        %tbody
          - @nfl_teams.each do |nfl_team|
            %tr.row
              %td= nfl_team_link(nfl_team)
              %td= nfl_team.players.distinct.map{|p| player_link(p)}.join(", ").html_safe
