.row
  .panel.panel-primary
    .panel-heading
      %h3= @nfl_team.name
    .panel-body
      %table.table
        %thead
          %tr.row
            %th Name
            %th Score
        %tbody
          - @nfl_team.players.distinct.sort_by(&:score).reverse.each do |player|
            %tr.row
              %td= link_to(player.name, player)
              %td= player.score